# Node
/frontend/node_modules
/frontend/.next
/frontend/out

# Python
/backend/__pycache__
/backend/.venv
/backend/venv
*.pyc

# IDE
.idea
.vscode

# OS
.DS_Store
*.swo 

.bmad-core 
.claude
.cursor
.gemini
.github
.venv
backend/venv

# Virtual environment
venv/
*.venv
**/venv/
**/__pycache__/
.python-version
.env